.chart {
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 20vw;
    background-color: rgba(19, 19, 19, 0.615);
    backdrop-filter: blur(10px);
    width: fit-content;
    border-radius: 10px;
    margin: 0  auto;
}