.edit {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.editimg {
    background-color: transparent;
    width: 20px;
    height: 20px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.profileinfo {
    justify-self: center;
    color: white;
    background-color: rgba(19, 19, 19, 0.615);
    backdrop-filter: blur(10px);
    font-size: 0.8em;
    border-top: 1px solid white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
    padding-left: 3%;
}

.profileinfo div {
    display: flex;
    align-items: center;
    gap: 5%;
}

.profileadd,
.profileid,
.profilebalance {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.profileinfo strong {
    padding-right: 2%;
}

.profilename {
    width: 30%;
}

.NFT.my {
    width: 70%;
    margin-bottom: 5%;
    border-bottom: none;
}


.NFTname.my,
.NFTid.my {
    flex: 1;
}