.row {
    position: relative;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 0.8em;
}

.row::before {
    content: '';
    position: absolute;
    width: 50%;
    left: 0;
    top: 20%;
    transform: translate(50%);
    border-bottom: 1px solid white;
}

.rowone , .rowtwo , .rowthree , .rowfour , .rowfive{
    display: flex;
    justify-content: center;
}
.row ul {
    justify-self: center;
    width: 50%;
    list-style: none;
}

.row ul li {
    margin-bottom: 5%;
}


.rowfive ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rowfive ul li{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}


.rowfive ul h2 {
   grid-column: span 3;
}
.rowfive li img {
    height: 2vw;
}