.poolin {
    width: 50%;
    background-color: rgba(56, 56, 56, 0.493);
    margin: 1% auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
}

.poolinfo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 2%;
    justify-content: center;
}

.poolinfo h2 {
    font-size: 0.7em;
}

.poolinfo img {
    font-size: 0.7em;
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: red;
}

.pooldetail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.pooldetail h2{
    font-size: 0.9em;
    color: yellow;
}

.pooldetail p {
    font-size: 0.8em;
}

.buttonpool_1 {
    display: flex;
    justify-content: flex-end;
    height: 70%;
    width: 100%;
}

.buttonpool_1 button {
    width: 60%;
    font-family: 'Roboto', sans-serif;
    margin-right: 4%;
    border-radius: 12px 0 0 12px ;
    border: none;
    cursor: pointer;
    color: yellow;
    outline: 1px solid yellow;
    background-color: transparent;
    transition: 0.2s linear;
}

.buttonpool_1 button:hover {
    background-color: yellow;
    color: black;
}


.buttonpool_2 {
    display: flex;
    justify-self: flex-start;
    height: 70%;
    width: 100%;
    
}

.buttonpool_2 button{
    font-family: 'Roboto', sans-serif;
    width: 60%;
    margin-left: 4%;
    border-radius: 0 12px 12px 0 ;
    border: none;
    cursor: pointer;
    color: #13A56A;
    outline: 3px solid #13A56A;
    background-color: transparent;
    transition: 0.2s linear;
}

.buttonpool_2 button:hover {
    background-color: #13A56A;
    color: black;
}