.marketplace {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
    margin: 0 auto;
}

.marketsell {
    font-size: 1em;
    padding: 1%;
    margin: 1%;
}

.headermarket {
    color: white;
    padding-top: 10%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
}

@media (max-width: 840px) {
    .headermarket {
        padding-top: 18% ;
    }

    .marketplace {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2 , 200px);
        gap: 5%;
        
    }
}

@media (max-width: 440px) {
    
    .background {
        height: 500px;
        width: 200px;
    }
 
}
