.marketplace {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
    margin: 0 auto;
}

.marketsell {
    font-size: 1em;
    padding: 1%;
    margin: 1%;
}

.headermarket {
    color: #FF652F;
    padding-top: 5%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 1em;
    width: 40%;
    margin: 1%  auto;
}

.pagination li {
    list-style: none;
    color: white;
    margin-left: 2%;
    margin-left: 2%;
    padding: 1%;
    border-radius: 5px;
}

.pagination li a{
    width: 100%;
}

.pagination li a{
    cursor: pointer;
    
}

.activepage {
    background-color: black;
    transition: 0.5s ease;
    
}

.bg1 {
    background-image: url('../../public/_75551516-ae39-4652-ba8d-56395ec9b588.png');
    background-size: contain;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 15%;
    filter: blur(2px);
}

.bg2 {
    background-image:url('../../public/_7f22db9c-710d-4b96-8fb7-70e436b33a61_preview_rev_1.png');
    background-size: contain;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 2%;
    top: 90%;
    filter: blur(1px);
}

@media (max-width: 840px) {
    .headermarket {
        padding-top: 18% ;
    }

    .marketplace {
        width: 100%;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }

    .pagination {
        display: flex;
        justify-content: center;
        font-size: 2em;
        margin: 12% auto;
        cursor: pointer;
    }    
}

@media (max-width: 440px) {
    
    .background {
        height: 500px;
        width: 200px;
    }
 
}
