.headerprofile {
    color: white;
    padding-top: 10%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    position: relative;
}

.myNFT {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.refcode {
    color: #13A56A;
    font-size: 0.5em;
    position: absolute;
    left: 0;
    transform: translate(20% , 50%);
}