.star {
   width: 1px;
   height: 1px;
   background: transparent;
   box-shadow: 1442px 846px #fff, 1880px 731px #fff, 686px 131px #fff, 1279px 263px #fff, 641px 315px #fff, 785px 316px #fff, 715px 229px #fff, 605px 813px #fff, 681px 73px #fff, 984px 376px #fff, 436px 501px #fff, 1701px 936px #fff, 419px 867px #fff, 437px 328px #fff, 559px 180px #fff, 604px 844px #fff, 412px 181px #fff, 1820px 670px #fff, 1483px 687px #fff, 800px 897px #fff, 1105px 941px #fff, 236px 755px #fff, 1845px 480px #fff, 1283px 760px #fff, 1275px 4px #fff, 763px 338px #fff, 217px 291px #fff, 1145px 8px #fff, 1198px 890px #fff, 1375px 552px #fff, 1581px 209px #fff, 1560px 297px #fff, 282px 921px #fff, 516px 321px #fff, 304px 823px #fff, 1654px 136px #fff, 1527px 801px #fff, 1675px 108px #fff, 820px 323px #fff, 1779px 260px #fff, 1548px 503px #fff, 409px 595px #fff, 77px 18px #fff, 857px 141px #fff, 106px 573px #fff, 1685px 531px #fff, 1785px 441px #fff, 1605px 68px #fff, 1894px 712px #fff, 146px 366px #fff, 1612px 615px #fff, 190px 416px #fff, 981px 437px #fff, 253px 738px #fff, 554px 943px #fff, 739px 825px #fff, 564px 807px #fff, 258px 807px #fff, 1074px 870px #fff, 674px 9px #fff, 1833px 532px #fff, 751px 934px #fff, 705px 792px #fff, 552px 592px #fff, 1467px 239px #fff, 796px 620px #fff, 1152px 700px #fff, 552px 878px #fff, 89px 687px #fff, 349px 645px #fff, 776px 430px #fff, 557px 554px #fff, 1339px 181px #fff, 1087px 165px #fff, 291px 951px #fff, 965px 692px #fff, 1399px 617px #fff, 993px 647px #fff, 586px 411px #fff, 1255px 6px #fff, 170px 143px #fff, 1166px 224px #fff, 1772px 401px #fff, 1731px 916px #fff, 1629px 502px #fff, 1257px 137px #fff, 315px 952px #fff, 939px 512px #fff, 746px 374px #fff, 826px 529px #fff, 553px 77px #fff, 209px 647px #fff, 1284px 381px #fff, 1159px 754px #fff, 678px 893px #fff, 152px 131px #fff, 613px 287px #fff, 1253px 605px #fff, 667px 203px #fff, 531px 862px #fff, 1915px 432px #fff, 1238px 850px #fff, 1421px 48px #fff, 1221px 785px #fff, 1492px 865px #fff, 1670px 751px #fff, 101px 16px #fff, 980px 609px #fff, 1553px 690px #fff, 157px 433px #fff, 633px 13px #fff, 425px 473px #fff, 378px 961px #fff, 1379px 754px #fff, 1516px 55px #fff, 614px 485px #fff, 1115px 214px #fff, 1845px 101px #fff, 1005px 365px #fff, 236px 708px #fff, 435px 408px #fff, 1771px 438px #fff, 1754px 887px #fff, 1293px 614px #fff, 1632px 223px #fff, 810px 121px #fff, 1068px 822px #fff, 1760px 511px #fff, 205px 188px #fff, 1818px 802px #fff, 798px 311px #fff, 1038px 642px #fff, 9px 786px #fff, 1465px 965px #fff, 1641px 580px #fff, 1898px 192px #fff, 1486px 248px #fff, 1275px 506px #fff, 426px 314px #fff, 120px 444px #fff, 365px 788px #fff, 1511px 705px #fff, 1870px 393px #fff, 1030px 188px #fff, 663px 209px #fff, 479px 757px #fff, 1412px 785px #fff, 1576px 137px #fff, 838px 881px #fff, 7px 674px #fff, 1688px 714px #fff, 532px 242px #fff, 1452px 986px #fff, 76px 745px #fff, 1334px 796px #fff, 1186px 204px #fff, 914px 164px #fff, 660px 489px #fff, 536px 581px #fff, 870px 572px #fff, 607px 390px #fff, 349px 907px #fff, 428px 878px #fff, 655px 700px #fff, 691px 8px #fff, 232px 521px #fff, 1828px 242px #fff, 88px 414px #fff, 74px 964px #fff, 1450px 23px #fff, 331px 123px #fff, 1316px 210px #fff, 1909px 864px #fff, 1706px 983px #fff, 1618px 316px #fff, 1813px 165px #fff, 690px 799px #fff, 743px 283px #fff, 1855px 301px #fff, 1527px 79px #fff, 537px 630px #fff, 1810px 616px #fff, 1891px 510px #fff, 153px 649px #fff, 1908px 759px #fff, 749px 742px #fff, 711px 437px #fff, 1368px 222px #fff, 348px 307px #fff, 1470px 303px #fff, 1598px 105px #fff, 1706px 889px #fff, 791px 95px #fff, 1512px 186px #fff, 1269px 742px #fff, 840px 948px #fff, 1797px 354px #fff, 326px 872px #fff, 631px 139px #fff, 1538px 551px #fff, 643px 402px #fff, 332px 333px #fff, 1148px 926px #fff, 842px 728px #fff, 186px 393px #fff, 1281px 228px #fff, 1462px 635px #fff, 93px 289px #fff, 1360px 34px #fff, 742px 42px #fff, 1693px 866px #fff, 1745px 86px #fff, 430px 955px #fff, 850px 682px #fff, 1383px 971px #fff, 1214px 508px #fff, 830px 196px #fff, 1638px 694px #fff, 619px 319px #fff, 800px 493px #fff, 92px 19px #fff, 294px 959px #fff, 132px 869px #fff, 5px 934px #fff, 1826px 325px #fff, 228px 302px #fff, 1857px 797px #fff, 1808px 442px #fff, 892px 412px #fff, 974px 711px #fff, 1507px 823px #fff, 497px 81px #fff, 1423px 317px #fff, 1432px 425px #fff, 396px 579px #fff, 1615px 100px #fff, 1677px 237px #fff, 1665px 478px #fff, 1713px 98px #fff, 6px 708px #fff, 1720px 696px #fff, 311px 898px #fff, 443px 42px #fff, 450px 831px #fff, 1714px 484px #fff, 574px 242px #fff, 1073px 870px #fff, 1274px 910px #fff, 17px 689px #fff, 1107px 283px #fff, 1781px 623px #fff, 1215px 469px #fff, 1771px 161px #fff, 1093px 895px #fff, 738px 172px #fff, 543px 784px #fff, 1815px 926px #fff, 1701px 973px #fff, 638px 265px #fff, 1165px 538px #fff, 235px 115px #fff, 221px 920px #fff, 285px 297px #fff, 613px 81px #fff, 856px 148px #fff, 475px 614px #fff, 1854px 551px #fff, 580px 723px #fff, 495px 719px #fff, 679px 290px #fff, 574px 698px #fff, 652px 161px #fff, 1122px 215px #fff, 252px 25px #fff, 1642px 149px #fff, 407px 714px #fff, 541px 701px #fff, 1170px 524px #fff, 1523px 52px #fff, 1891px 943px #fff, 1414px 555px #fff, 762px 602px #fff, 235px 203px #fff, 1399px 426px #fff, 1056px 828px #fff, 1778px 985px #fff, 5px 314px #fff, 790px 762px #fff, 1578px 462px #fff, 1359px 388px #fff, 1506px 976px #fff, 1727px 492px #fff, 1756px 651px #fff, 989px 547px #fff, 1858px 341px #fff, 1304px 350px #fff, 589px 462px #fff, 1666px 606px #fff, 1896px 303px #fff, 394px 493px #fff;
}

.meteor-1 {
   position: fixed;
   top: 269px;
   left: 71%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 5.4s linear infinite;
}

.meteor-1:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
   position: fixed;
   top: 179px;
   left: 11%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 3.7s linear infinite;
}

.meteor-2:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
   position: fixed;
   top: 253px;
   left: 46%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 5.7s linear infinite;
}

.meteor-3:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
   position: fixed;
   top: 126px;
   left: 70%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 5.3s linear infinite;
}

.meteor-4:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
   position: fixed;
   top: 212px;
   left: 91%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 8.8s linear infinite;
}

.meteor-5:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
   position: fixed;
   top: 116px;
   left: 93%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 7.4s linear infinite;
}

.meteor-6:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
   position: fixed;
   top: 68px;
   left: 66%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 7.6s linear infinite;
}

.meteor-7:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
   position: fixed;
   top: 108px;
   left: 47%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 8.2s linear infinite;
}

.meteor-8:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
   position: fixed;
   top: 142px;
   left: 19%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 9.4s linear infinite;
}

.meteor-9:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
   position: fixed;
   top: 112px;
   left: 94%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 8.1s linear infinite;
}

.meteor-10:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
   position: fixed;
   top: 208px;
   left: 79%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 9.6s linear infinite;
}

.meteor-11:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
   position: fixed;
   top: 166px;
   left: 29%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 3.7s linear infinite;
}

.meteor-12:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
   position: fixed;
   top: 132px;
   left: 73%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 3.6s linear infinite;
}

.meteor-13:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
   position: fixed;
   top: 213px;
   left: 83%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 5.1s linear infinite;
}

.meteor-14:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
   position: fixed;
   top: 256px;
   left: 95%;
   width: 300px;
   height: 1px;
   transform: rotate(-45deg);
   background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
   animation: meteor 9.2s linear infinite;
}

.meteor-15:before {
   content: "";
   position: fixed;
   width: 4px;
   height: 5px;
   border-radius: 50%;
   margin-top: -2px;
   background: rgba(255, 255, 255, .7);
   box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
   0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
   }

   12% {
      opacity: 0;
   }

   15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
   }

   100% {
      opacity: 0;
   }
}

.glitch-wrapper,
.about,
.roadmap,
.team,
.partnership {
   width: 100vw;
   height: 100vh;
   background-color: #2222226f;
   overflow-x: hidden;
}

.footer {
   background-color: #2222226f;
   display: flex;
   height: 50px;
   color: white;
   justify-content: center;
   border-top: 1px solid rgba(255, 255, 255, 0.253);
   align-items: center;
}

.popup {
   position: fixed;
   top: 1%;
   left: 2%;
   height: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(11, 11, 11, 0.621);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   z-index: 9999;
   padding: 10px;
   border-radius: 5px;
   color: white;
   backdrop-filter: blur(10px);
   --webkit-backdrop-filter: blur(10px);
   outline: 1px solid white;
   animation: identifier 3s ease;
}


@keyframes identifier {
   0% {
      transform: translateX(-50%);
   }

   20% {
      transform: translateX(0%);
   }
}

.glitch-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.glitch-wrapper .ship {
   position: absolute;
   width: 30vw;
   right: 2%;
   bottom: -10%;
}

.glitch {
   position: relative;
   font-size: 100px;
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   letter-spacing: 6px;
   animation: shift 4s ease-in-out infinite alternate;
   z-index: 1;
}

.glitch:before {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: -2px;
   text-shadow: -1px 0 #00ffff;
   width: 100%;
   color: #fff;
   background-color: #2222226f;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 2px;
   text-shadow: 1px 0 #ff00ff;
   width: 100%;
   color: #fff;
   background-color: #2222226f;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }

   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }

   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }

   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }

   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }

   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }

   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }

   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }

   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }

   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }

   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }

   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }

   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }

   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }

   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }

   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }

   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }

   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }

   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }

   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }

   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }

   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }

   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }

   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }

   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }

   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }

   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }

   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }

   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }

   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }

   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }

   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }

   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }

   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }

   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }

   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }

   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }

   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }

   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }

   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }

   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
}

@keyframes shift {

   0%,
   40%,
   44%,
   58%,
   61%,
   65%,
   69%,
   73%,
   100% {
      transform: skewX(0deg);
   }

   41% {
      transform: skewX(10deg);
   }

   42% {
      transform: skewX(-10deg);
   }

   59% {
      transform: skewX(40deg) skewY(10deg);
   }

   60% {
      transform: skewX(-40deg) skewY(-10deg);
   }

   63% {
      transform: skewX(10deg) skewY(-5deg);
   }

   70% {
      transform: skewX(-50deg) skewY(-20deg);
   }

   71% {
      transform: skewX(10deg) skewY(-10deg);
   }
}

@keyframes shake {

   10%,
   90% {
      transform: translate3d(-1px, 0, 0);
   }

   20%,
   80% {
      transform: translate3d(2px, 0, 0);
   }

   30%,
   50%,
   70% {
      transform: translate3d(-4px, 0, 0);
   }

   40%,
   60% {
      transform: translate3d(4px, 0, 0);
   }
}

@keyframes floating {
   0% {
      opacity: 1;
      transform: translateY(0px);
   }

   50% {
      transform: translateY(-10px);
   }

   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

@keyframes slideDown {
   0% {
      opacity: 0;
      transform: translateY(-30px);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}


/*-------------Main-------------*/

.mainpage {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5%;
   color: white;
   width: 40%;
   font-size: 50px;
   margin-top: 3%;
}

.mainpage img {
   width: 4.5vw;
   border-radius: 50%;
}

.launch-app-button {
   margin-top: 7%;
   padding: 1%;
   border-radius: 10px;
   font-size: 1vw;
   color: white;
   background: #ffa600;
   background: -webkit-linear-gradient(48deg, #ffa600 0%, #ffe071 100%);
   background: linear-gradient(48deg, #ffa600 0%, #ffe071 100%);
   transition: 0.5s ease;
}

.launch-app-button:hover {
   box-shadow: 0px 0px 10px 5px #ffa600;
}

.mainpage-community {
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 2vw;
   left: 2vw;
}

.mainpage-community img {
   width: 2vw;
   aspect-ratio: 1 / 1;
   cursor: pointer;
}

.container-l2 {
   width: 94vw;
   margin-left: 6vw;
   height: 100%;
}

/*-------------About-------------*/
.about .container-l2 {
   display: flex;
}



.aboutcontainer {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.aboutcontainer:nth-child(1) {
   width: 35%;
}

.aboutcontainer:nth-child(2) {
   padding: 0 4%;
   width: 65%;
}

.aboutcontainergrid {
   height: 75%;
   width: 100%;
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: repeat(2, 1fr);
   gap: 2%;
}



.aboutcontent {
   color: white;
}

.aboutcontent h1 {
   color: #ffa600;
   font-size: 1.3 rem;
   text-transform: uppercase;
   font-weight: 700;
}

.aboutcontent h2 {
   color: #ffe071;
   font-size: 2.5rem;
   text-transform: uppercase;
   font-weight: 700;
}

.aboutcontent div {
   font-size: 1.1em;
   line-height: 200%;
   margin: 5% 0;
   font-weight: 300;
}


.aboutcontentgrid {
   background-color: rgba(0, 0, 0, 0.316);
   height: 100%;
   width: 100%;
   padding: 4%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2%;
   position: relative;
   transition: 0.4s ease;
   backdrop-filter: blur(10px);
   transform: translate(-100%);
   opacity: 0;
   --delay : 0s;
   transition: all 0.5s ease, transform 0.5s ease var(--delay);
   cursor: pointer;
}

.about.active .aboutcontentgrid{
   opacity: 1;
   transform: translate(0);
}

.about.active .aboutcontentgrid:nth-child(1){
   --delay : 0.1s;
}

.about.active .aboutcontentgrid:nth-child(2){
   --delay : 0.2s;
}

.about.active .aboutcontentgrid:nth-child(3){
   --delay : 0.3s;
}

.about.active .aboutcontentgrid:nth-child(4){
   --delay : 0.4s;
}

.about.active .aboutcontentgrid:nth-child(5){
   --delay : 0.5s;
}

.aboutcontentgrid::before {
   position: absolute;
   content: '';
   width: 2vw;
   height: 2vw;
   left: 0;
   top: 0;
   border-left: 2px solid #ffa600;
   border-top: 2px solid #ffa600;
   opacity: 0.7;
   transition: 0.4s linear;
}

.aboutcontentgrid::after {
   position: absolute;
   content: '';
   width: 2vw;
   height: 2vw;
   bottom: 0;
   right: 0;
   border-right: 2px solid #ffa600;
   border-bottom: 2px solid #ffa600;
   opacity: 0.7;
   transition: 0.4s ease;
}

.aboutcontentgrid:hover {
   backdrop-filter: none;
   background-color: rgb(255, 255, 255);
   
}

.aboutcontentgrid h1 {
   color: #ffe071;
   font-size: 1.2em;
}

.aboutcontentgrid div {
   color: white;
   font-size: 0.9em;
}


.aboutcontentgrid:hover::after,
.aboutcontentgrid:hover::before {
   width: 0;
   height: 0;
   opacity: 0;
}

.aboutcontentgrid:hover h1 {
   color: #ffa600;
}

.aboutcontentgrid:hover div {
   color: black;
}

/*-------------Roadmap-------------*/

.roadmap .ship {
   width: 50vw;
   z-index: -1;
   position: absolute;
   left: 1%;
   transform: translate(0 , 10%);
}

.roadmap .container-l2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.phase-container {
   width: 94vw;
   padding-left: 2vw;
   height: 60%;
   display: flex;
   align-items: flex-start;
   overflow-x: scroll;
   scroll-behavior: smooth;
}

.phase-container::-webkit-scrollbar {
   width: 0;
}

.direction {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 10%;
   padding-top: 5%;
}

.direction button {
   background-color: transparent;
   padding: 20px;
   transition: 0.5s ease;
}

.direction button:hover {
   opacity: 0.4;
}

.direction button img {
   aspect-ratio: 1 / 1;
   width: 60px;
   border-radius: 10px;
   border: 2px solid #ffe071;
}

.direction button:nth-child(1) {
   transform: scale(-1);
}

.phase {
   position: relative;
   padding: 1% 1%;
   border-top: 5px solid #ffe071;
   transition: 0.5s ease;
   
}


.phase div {
   width: max-content;
}

.phaseheader {
   font-size: 1.2em;
   color: #ffa600;
   margin-bottom: 10%;
   width: fit-content;
   word-wrap: break-word;
}

.phasecontent {
   position: relative;
   color: white;
   font-size: 1em;
   background-color: rgba(106, 106, 106, 0.392);
   border-radius: 10px;
   backdrop-filter: blur(10px);
   padding: 20px;
   transform: translate(0 , -25%);
   opacity: 0;
   transition: 0.5s ease;
}

.roadmap.active .phasecontent {
   opacity: 1;
   transform: translateY(50%);
}


.phasecontent::before {
   content: '';
   position: absolute;
   height: 100%;
   width: 5px;
   left: -10px;
   top: 0;
   background-color: #ffe071;
   transform: translate(0 , calc(-50% - 20px));
}

.phasecontent::after {
   content: '';
   position: absolute;
   height: 100%;
   width: 15px;
   height: 15px;
   left: -10px;
   top: calc(50% - 20px);
   transform: translate( -5px , -10%);
   background-color: #ffe071;
}



/*-------------Team-------------*/

.team .container-l2{
   position: relative;
}

.teamimage {
   position: absolute;
   right: 0%;
   top: 10%;
   height: 35vw;
   width: 35vw;
   border-radius: 50%;
   overflow: hidden;
}

.teamimage img {
   width: 100%;
   height: 100%;
}

.selectionheader {
   color: white;
   padding-top: 10%;
   padding-left: 20%;
   height: fit-content;
   width: fit-content;
}

.selectionheader h1 {
   font-family: 'Courier New', Courier, monospace;
   font-weight: 900;
   font-size: 80px;
}

.selectionheader h2 {
   font-family: 'Courier New', Courier, monospace;
   color: white;
   font-size: 30px;
}

.team-container {
   padding-top: 14%;
   display: grid;
   width: 65%;
   grid-template-columns: repeat(7, 1fr);
   grid-auto-rows: 10vw;
   grid-gap: 3%;
   margin: 0 auto;
   transition: 0.7s ease;
   transform: scaleX(0);
}

.team.active .team-container {
   transform: scaleX(1);
}

.team-container .selection {
   background-color: rgb(32, 32, 32);
   transform: skew(-15deg);
   transition: 0.1s ease;
   overflow: hidden;
   cursor: pointer;
   background-size: cover;
   border-top: 2px solid #ffa600;
}

.team-container .selection:nth-child(1) {
   background-image: url('../assets/founder.png');
}

.team-container .selection:nth-child(2) {
   background-image: url('../assets/cofounder.png');
}

.team-container .selection:nth-child(3) {
   background-image: url('../assets/collab.png');
}

.team-container .selection:nth-child(4) {
   background-image: url('../assets/marketing.png');
}

.team-container .selection:nth-child(5) {
   background-image: url('../assets/artist.png');
}

.team-container .selection:nth-child(6) {
   background-image: url('../assets/web3.png');
}

.team-container .selection:nth-child(7) {
   background-image: url('../assets/advisor.png');
}

.team-container .selection:hover,
.team-container .selection.active {
   background-color: #ffa600;
   transform: skew(-15deg) translateY(-10%) scale(1.2);
}

.partnership h1 {
   font-size: 50px;
   padding-top: 8%;
   text-align: center;
   animation: nhapnhap 2s linear infinite;
}

@keyframes nhapnhap {
   0% {
      color: #ffe071;
      text-shadow: 0px 0px 20px #ffe071;
   }

   10% {
      color: #ffa600;
      text-shadow: 0px 0px 20px #ffa600;
   }

   20% {
      color: #ffe071;
      text-shadow: 0px 0px 20px #ffe071;
   }

   30% {
      color: #ffa600;
      text-shadow: 0px 0px 20px #ffa600;
   }

   100% {
      color: #ffe071;
      text-shadow: 0px 0px 20px #ffe071;
   }
}

.partnership-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10%;
}

.line {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80%;
   margin-top: 3%;
}

.line img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   opacity: 0;
   transition: 0.5s ease;
   filter: drop-shadow(5px 5px 20px rgba(201, 201, 201, 0.49));
}

.partnership.active .line img {
   opacity: 1;
}

.partnership.active .line img:nth-child(1) {
   transition-delay: 0.1s;
}

.partnership.active .line img:nth-child(2) {
   transition-delay: 0.2s;
}

.partnership.active .line img:nth-child(3) {
   transition-delay: 0.3s;
}

.partnership.active .line img:nth-child(4) {
   transition-delay: 0.4s;
}

.partnership.active .line img:nth-child(5) {
   transition-delay: 0.5s;
}

.partnership.active .line img:nth-child(6) {
   transition-delay: 0.6s;
}

.partnership.active .line img:nth-child(7) {
   transition-delay: 0.7s;
}

.partnership.active .line img:nth-child(8) {
   transition-delay: 0.8s;
}

@media (max-width: 990px) {
   .glitch {
      font-size: 160px;
   }

   .mainpage-community img {
      width: 4vw;
   }

   .mainpage {
      width: 100%;
   }

   .mainpage h1 {
      font-size: 40px;
   }

   .mainpage img {
      width: 50px;
   }

   .launch-app-button {
      margin-top: 20%;
      font-size: 20px;
      padding: 18px;
   }

   .mainpage .ship {
      bottom: 10%;
   }

   .glitch-wrapper .ship {
      width: 40vw;
      right: 2%;
      bottom: 10%;
      z-index: -1;
   }

   .container-l2 {
      width: 93vw;
      margin-left: 7vw;
      height: 100%;
   }

   .aboutcontainergrid {
      height: 90%;
   }

   .aboutcontent h1 {
      font-size: 1.1rem;
   }

   .aboutcontent h2 {
      font-size: 1.9em;
   }

   .aboutcontent div {
      font-size: 0.9em;
   }

   .aboutcontentgrid h1 {
      font-size: 1em;
   }

   .aboutcontentgrid div {
      font-size: 0.8em;
   }


   .phase-container {
      width: 100%;
      padding-left: 2%;
   }

   .phaseheader {
      font-size: 15px;
      width: fit-content;
   }

   .phasecontent {
      font-size: 12px;
   }

   .phasecontent::before {
      transform: translate(0 , calc(-50% - 20px));   }

   .roadmap .ship {
      left: 40%;
      opacity: 0.5;
   }

   .selectionheader {
      padding-top: 10%;
   }

   .selectionheader h1 {
      font-size: 50px;
   }

   .selectionheader h2 {
      font-size: 20px;
   }


   .team-container {
      padding-top: 30%;
      width: 90%;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 15vw;
   }

   .teamimage {
      width: 50vw;
      height: 50vw;
   }

   .partnership-container {
      flex-direction: row;
   }

   .line {
      flex-direction: column;
   }

   .line img {
      width: 70px;
      height: 70px;
      margin-bottom: 100%;
   }

   .partnership h1 {
      padding-top: 10%;
      font-size: 30px;
   }
}

@media (max-width: 767px) {
   .glitch {
      font-size: 100px;
   }

   .mainpage h1 {
      font-size: 20px;
   }

   .launch-app-button {
      font-size: 20px;
      padding: 10px;
   }

   .mainpage .ship {
      bottom: 10%;
   }

   .glitch-wrapper .ship {
      width: 40vw;
      right: 2%;
      bottom: 10%;
   }

   .aboutcontainer {
      padding:0 5%;
      height: fit-content;
      width: 100% !important;
   }

   .about .container-l2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .aboutcontent div {
      margin:1% 0;
   }

   .aboutcontentgrid:nth-child(5)
   {
      grid-column: span 2;
   }

   .aboutcontent h1 {
      font-size: 2vh;
   }

   .aboutcontent h2 {
      font-size: 3vh;
   }

   .aboutcontent div {
      font-size: 1.7vh;
   }

   .aboutcontentgrid h1 {
      font-size: 1.7vh;
   }

   .aboutcontentgrid div {
      font-size: 1.5vh;
   }

   .roadmap .ship {
      height: 40vh;
      width: 40vh;
      transform: translate(-15vh, 50vh);
   }

   .phase-container {
      width: 100%;
      height: 80%;
      padding-left: 2%;
   }

   .phase {
      padding-left: 5%;
   }


   .phaseheader {
      font-size: 20px;
   }

   .direction {
      display: none;
   }

   .phasecontent {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      height: 45vh;
      word-wrap: break-word;
      justify-content: center;
   }

   .phasecontent::before {
      transform: translate(0 , calc(-50% - 20px)); 
      left: -10px;
      width: 3px;
   }

   .phasecontent::after {
      left: -10px;
      width: 9px;
      height: 9px;
      transform: translateX(-3px);
   }
      

   .roadmap .ship {
      left: 40%;
      opacity: 0.5;
   }

   .selectionheader {
      padding: 0;
      height: 10vh;
      width: 100%;
   }

   .selectionheader h1 {
      font-size: 40px;
   }

   .selectionheader h2 {
      font-size: 30px;
   }


   .team-container {
      margin-top: 35vh;
      width: 88%;
      gap: 2%;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 15vh;
   }

   .selection {
      background-position: 35% 0;
   }

   .teamimage {
      width: 30vh;
      height: 30vh;
      top: 24vh;
      right: 0;
   
   }

   .partnership h1 {
      padding-top: 6vh;
   }

   .partnership-container {
      gap: 8vh;
      margin-top: 3vh;
   }

   .line {
      gap: 8vh;
   }

   .footer {
      height: 40px;
      font-size: 12px;
      color: white;
      justify-content: center;
      border-top: 1px solid rgba(255, 255, 255, 0.253);
      align-items: center;
   }
}